.share{
  position: relative;
  left: 0;
  top: 7px;
  z-index: 2;

  display: flex;
  align-items: center;
  padding: 0 10px;
  width: max-content;
  height: 33px;

  background: rgba(19, 17, 29, 0.52);
  backdrop-filter: blur(30px);
  border-radius: 0 7px 7px 0;

  .colorButton{
    margin: 0;
  }
}