.eventButtons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;

  width: 30px;
  height: 30px;

  background: rgba(19, 17, 29, 0.36);
  backdrop-filter: blur(30px);
  border-radius: 50%;
}

.label {
    z-index: 2;
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(30px);
}

