@import '../../../scss/utils/mixins';
.product {
  &Container {
    display: flex;
    max-width: 1280px;
    justify-content: center;
    margin-bottom: 50px;

    @media (min-width: 1280px ) {
      width: calc(100% / 5);
    }
    @include mmax( 1280 ) {
      width: calc(100% / 4);
    }
    @include mmax( 960 ) {
      width: calc(100% / 3);
    }
    @include mmax( 720 ) {
      width: calc(100% / 2);
    }
    @include mmax( 540) {
      width: calc(100% / 1);
    }
  }
  position: relative;
  width: var(--width-product-card);
  height: var(--heigth-product-card);

  .show {
    opacity: 0;
    &Content{
      display: none;
    }
  }

  &:hover {
    .show {
      opacity: 1;
      transition: opacity 0.3s;
      &Content{
        display: block;
      }
    }

    .productFooter {
      .titleContents {
        margin-top: -50px;
        margin-bottom: 10px;
      }
    }
  }
}

.image {
  position: absolute;
  z-index: 1;
}

.productFooter {
  position: absolute;
  padding: 0 12px 10px;
  bottom: 0;
  z-index: 2;
  height: max-content;
  background: linear-gradient(183.77deg, rgba(2, 2, 4, 0) 8.59%, rgba(2, 2, 4, 0.35) 56.43%, rgba(2, 2, 4, 0.9) 96.91%);
  border-radius: 3.80805px;
}


