.productPage {
  --width-product-card: 238px;
  --heigth-product-card: 355px;

  display: flex;
  width: 100%;
  background: #000;
  font-family: Montserrat;
  color: #F8F8F8;
  //background: #E5E5E5;

}

