.productPage {
  --width-product-card: 238px;
  --heigth-product-card: 355px;

  font-family: Montserrat;
  color: #F8F8F8;
  background: #E5E5E5;

  .component {
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
    max-width: 1560px;
  }
}

